body {
  font-family: "Jost", sans-serif;
}
.bg-primary {
  background: #034ea2 !important;
}
.header {
  font-weight: 600;
  font-size: 16px !important;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.input-with-icon {
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 0;
  pointer-events: none;
}
.primary {
  color: #034ea2;
}

.accordion-button {
  background: #f3f6f9;
  border: 1px;
  border-radius: 3px !important;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 100%;
  color: #231f20;
  padding: 12px 16px;
}

.accordion-button::after {
  filter: invert(21%) sepia(94%) saturate(747%) hue-rotate(186deg)
    brightness(92%) contrast(101%);
  font-size: 2rem;
  text-shadow: 0 0 2px #034ea2;
}
.accordion-item {
  margin: 12px 0;
}
.accordion-button:not(.collapsed) {
  color: #231f20;
  background: #f3f6f9;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.circle {
  font-weight: 400;
  font-size: 16px;
  color: #034ea2;
  border: 1px solid #034ea2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #034ea2;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.add-icon:hover {
  background: #02376d;
}

.font-xs {
  font-size: 12px;
}

.in-progress-dot {
  height: 10px;
  width: 10px;
  background-color: #ffb03c;
  border-radius: 50%;
  display: inline-block;
}
.pending-dot {
  height: 10px;
  width: 10px;
  background-color: #d0d0d0;
  border-radius: 50%;
  display: inline-block;
}
.completed-dot {
  height: 10px;
  width: 10px;
  background-color: #368a04;
  border-radius: 50%;
  display: inline-block;
}
