body {
  font-family: "Jost", sans-serif;
}
.bg-primary {
  background: #034ea2 !important;
}
.header {
  font-weight: 600;
  font-size: 16px !important;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.input-with-icon {
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-control {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #66676b;
}
.form-control:focus {
  border: 1px solid #034ea2;
  box-shadow: none;
}
.search {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 0;
  pointer-events: none;
}
.primary {
  color: #034ea2;
}

.accordion-button {
  background: #f3f6f9;
  border: 1px;
  border-radius: 3px !important;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 100%;
  color: #231f20;
  padding: 12px 16px;
}

.accordion-button::after {
  filter: invert(21%) sepia(94%) saturate(747%) hue-rotate(186deg)
    brightness(92%) contrast(101%);
  font-size: 2rem;
  text-shadow: 0 0 2px #034ea2;
}
.accordion-item {
  margin: 12px 0;
}
.accordion-button:not(.collapsed) {
  color: #231f20;
  background: #f3f6f9;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.circle {
  font-weight: 400;
  font-size: 16px;
  color: #034ea2;
  border: 1px solid #034ea2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #034ea2;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.add-icon:hover {
  background: #02376d;
}

.font-xs {
  font-size: 12px;
}

.status-select {
  width: 100%;
}

.status-select__control {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #231f20;
}

.status-select__control--is-focused {
  border-color: #034ea2 !important;
  box-shadow: none !important;
}

.status-select__menu {
  margin: 0;
  border-radius: 5px;
}

.status-select__menu-list {
  padding: 0;
}

.status-select__option {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

.status-select__option--is-focused {
  border-color: #034ea2 !important;
}

.status-select__single-value {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pending-dot,
.in-progress-dot,
.completed-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.pending-dot {
  background-color: #d0d0d0;
}
.in-progress-dot {
  background-color: #ffb03c;
}
.completed-dot {
  background-color: #368a04;
}

.action-btn {
  width: 110px;
  height: 40px;
  opacity: 1;
  border-width: 1px;
  border-radius: 5px;
}
.text-success {
  color: #368a04 !important;
}
.btn-cancel {
  background: white;
  border: 1px solid #034ea2;
  color: #034ea2;
}
.btn-cancel:hover {
  background: white;
  border: 1px solid #226cc0;
  color: #226cc0;
}
.btn-add {
  background: #034ea2;
  border: 1px solid #034ea2;
  color: white;
}
.btn-add:hover {
  background: #226cc0;
  border: 1px solid #226cc0;
  color: white;
}
.mt-38 {
  margin-top: 38px;
}

.task-icons {
  display: flex;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
}

.task-card:hover .task-icons {
  opacity: 1;
  visibility: visible;
}
.icon-size {
  font-size: 12px !important;
}
.highlight {
  animation: highlightFlash 2s ease;
  border-radius: 8px;
}

@keyframes highlightFlash {
  0% {
    background-color: #e3effc;
  }
  50% {
    background-color: #c7def9;
  }
  100% {
    background-color: white;
  }
}
